$NetBSD$

--- make.config.orig	2026-08-25 15:41:58.748864655 +0000
+++ make.config
@@ -31,7 +31,7 @@ ROOT_DIR     := $(dir $(realpath $(lastw
 
 # These two lines ensure that build-tools/ dir is added to the path
 # (n.b., it won't work unless SHELL explicitly set)
-SHELL:=/bin/bash
+SHELL:=/usr/pkg/bin/bash
 export PATH:=$(ROOT_DIR)/build-tools:$(PATH)
 
 # Project name:
